{% extends 'base.html' %}

{% block coontent_home %}
<section id="trading">
    <div class="container">
      <h3 class="text-center section-heading">- The Best Restaurants -</h3>
    </div>
    
    <div class="restaurants">
      {% comment %} <div class="info_resto affiche">
        <span class="close_info_resto"><ion-icon name="close"></ion-icon></span>
        <div class="content_info">
          <div class="head">
            <img class="head_img" src="{{ restaurants.0.image.url }}" alt="{{ restaurants.0.name }}">
            <div class="head_text">{{ restaurants.0.name }} restaurant</div>
          </div>
          <div class="descript_resto">
            {{ restaurants.0.description }}
          </div>
          <hr>
          {% block infos_resto %}{% endblock infos_resto %}
        </div> {% endcomment %}
      </div>

      {% for restaurant in restaurants %}
      <div class="resto">
        <div class="img_restaurant">
          {% if restaurant.image_link == '' %}
            <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}">
          {% else %}
            <img src="{{ restaurant.image_link}}" alt="{{ restaurant.name }}">
          {% endif %}
        </div>
        <div class="description_restaurant">
              <div class="descrip_head">
                <small>{{ restaurant.location }}
                <span class="detail_resto" id="{{ restaurant.id }}"><h4>show more ...</h4></span>
              </div>
            <h1>{{ restaurant.name }}</h1>
          <p>{{ restaurant.description }}
            <br><b>Services disponibles:</b><br>· Repas sur place <br>· Vente à emporter <br>· Livraison
            <br><b>Ouvert de :</b> {{ restaurant.h_open }}h, a {{ restaurant.h_close }}h
          </p>
          <div class="foot_descript">
            <span><h4 class="food-rating">
              <span> {{ restaurant.rating }} </span>
              <div class="rating">
                {% if restaurant.rating >= 1 %}
                  <ion-icon name="star"></ion-icon>
                  {% if restaurant.rating >= 2 %}
                    <ion-icon name="star"></ion-icon>
                    {% if restaurant.rating >= 3 %}
                      <ion-icon name="star"></ion-icon>
                      {% if restaurant.rating  >= 4 %}
                        <ion-icon name="star"></ion-icon>
                        {% if restaurant.rating  >= 5 %}
                          <ion-icon name="star"></ion-icon>
                        {% else %}
                          {% if  restaurant.rating  > 4 %}
                            <ion-icon name="star-half-outline"></ion-icon>{% else %}<ion-icon name="star-outline"></ion-icon>{% endif %}
                        {% endif %}
                      {% else %}
                        {% if  restaurant.rating  == 4 %}<ion-icon name="star-outline"></ion-icon>{% else %}<ion-icon name="star-half-outline"></ion-icon>{% endif %}
                        <ion-icon name="star-outline"></ion-icon>
                      {% endif %}
                    {% else %}
                      {% if  restaurant.rating  == 3 %}<ion-icon name="star-outline"></ion-icon>{% else %}<ion-icon name="star-half-outline"></ion-icon>{% endif %}
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                    {% endif %}
                  {% else %}
                      {% if  restaurant.rating  == 2 %}<ion-icon name="star-outline"></ion-icon>{% else %}<ion-icon name="star-half-outline"></ion-icon>{% endif %}
                      <ion-icon name="star-outline"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                  {% endif %}
                {% else %}
                  {% if  restaurant.rating  == 1 %}<ion-icon name="star-outline"></ion-icon>{% else %}<ion-icon name="star-half-outline"></ion-icon>{% endif %}
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                {% endif %}
              </div>
            </h4></span>
            <input class="reservation" value="Réservation">
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="prods_resto">
      {% block produits_restaurant %}{% endblock produits_restaurant %}
      </div>
    </div>
  </section>
{% endblock coontent_home %}
