<!DOCTYPE html>
<html>{% load static %}
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/style_join_us.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_join_us_form.css' %}">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div class="head">
            <h1>Bienvenu sur la page d'administration de DailyFood.cm</h1>
        </div>
        <div class="formulaire">
            {% block containt %}{% endblock containt %}
        </div>
    </body>
</html>