<DOCTYPE html>
    {% load static %}
    <html lang="en">
        <head>
            <meta charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
            <link rel="stylesheet" href="{% static 'css/style_forms.css' %}">
            <link rel="stylesheet" href="{% static 'css/style_signup.css' %}">
            <link rel="shortcut icon" type="image/png" href="{%  static 'images/favicon.ico' %}">
            <title>{% block title %}{% endblock title %}</title>
        </head>
        <body>
            <div class="back"><img src="{% static 'images/back_img.jpg' %}"></div>
            {% block content_forms %}{% endblock content_forms %}
        </body>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
        
    </html>